.address{
    display: flex;
    justify-content: space-around;
    background: #333;
}
.addr{
    text-align: left;
    margin: 50px;
    color: white;
    padding: 70px;
}
iframe{
    width: 350px;
    height: 200px;
    margin: 100px;
}
.input{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    justify-content: space-around;
    margin-left: 200px;
}
.name{
    position: relative;
    margin: 4rem;
}
input{
    border: 0;
    border-bottom: 1px solid black;   
}
.box{
    text-align: center;
    align-items: center;
}
.box input{
    width: 1000px;
    height: 90px;
    border: 1px solid black;
}
label{
    position: absolute;
    top: 5px;
    left: 0;
}
input:focus{
    outline: 0;
}
input:focus + label span{
    color: #333;
    transform: translateY(-20px);
}
label span{
    transition: 0.9s ease;
}
span{
    min-width: 5px;
    display: inline-block;
} 
.submit{
    text-align: center;
}
button{
    width: 50%;
    color: white;
    background-color: black;
    transition: all 1.4s;
    padding: 10px;
}
button:hover{
    background-color: orange;
}